/*Основна картинка під час входу*/
body {
    background: url(../img/bgcolor.jpg) no-repeat center;
    background-size: cover;
}
#img img {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 664px;
}

/*Слова Рома Оливко*/
#blockRO {
    position: relative;
    padding: 40px;
    font-size: 75px;
    font-family: 'Monoton', cursive;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 0 0 80px red, 0 0 30px FireBrick, 0 0 6px DarkRed;
    color: red;
    margin-top: 80px;
}

#blockRO p {
    margin: 0;
}

#error:hover {
    text-shadow: 0 0 200px #ffffff, 0 0 80px #008000, 0 0 6px #0000ff;
}

#code:hover {
    text-shadow: 0 0 100px red, 0 0 40px FireBrick, 0 0 8px DarkRed;
}

#error {
    color: white;
    text-shadow: 0 0 80px #ffffff, 0 0 30px #008000, 0 0 6px #0000ff;
}

#error span {
    animation: upper 11s linear infinite;
}

#code span:nth-of-type(2) {
    animation: lower 10s linear infinite;
}

#code span:nth-of-type(1) {
    text-shadow: none;
    opacity: .4;
}

@keyframes upper {

    0%,
    19.999%,
    22%,
    62.999%,
    64%,
    64.999%,
    70%,
    100% {
        opacity: .99;
        text-shadow: 0 0 80px white, 0 0 30px #008000, 0 0 6px #0000ff;
    }

    20%,
    21.999%,
    63%,
    63.999%,
    65%,
    69.999% {
        opacity: 0.4;
        text-shadow: none;
    }
}

@keyframes lower {

    0%,
    12%,
    18.999%,
    23%,
    31.999%,
    37%,
    44.999%,
    46%,
    49.999%,
    51%,
    58.999%,
    61%,
    68.999%,
    71%,
    85.999%,
    96%,
    100% {
        opacity: 0.99;
        text-shadow: 0 0 80px red, 0 0 30px red, 0 0 6px red;
    }

    19%,
    22.99%,
    32%,
    36.999%,
    45%,
    45.999%,
    50%,
    50.99%,
    59%,
    60.999%,
    69%,
    70.999%,
    86%,
    95.999% {
        opacity: 0.4;
        text-shadow: none;
    }
}

/*Текст який друкується*/
@keyframes typing {
    from {
        width: 0;
    }
}

@keyframes blink-caret {
    50% {
        border-color: transparent;
    }
}

#txt {
    font: bold 200% Consolas, Monaco, monospace;
    border-right: .1em solid white;
    width: 16.5em;
    width: 47ch;
    margin: 2em 1em;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 10s steps(47, end), blink-caret .5s step-end infinite alternate;
    color: white;
    margin: 50px auto;
}

@media screen and (max-width: 900px) {
    #txt {
        width: 24ch;
        white-space: normal;
        animation: typing 10s steps(24, end), blink-caret .5s step-end infinite alternate;
        text-align: center;
    }
}

/*Кнопка входу*/
#button {
    display: block;
    content: "Enter";
    font-size: 30px;
    padding: 8px 15px;
    width: 90%;
    border-radius: 10px;
    max-width: 15%;
    margin: 0 auto;
    background: #fff linear-gradient(rgb(58, 160, 253), rgb(4, 88, 192) 60%, rgb(49, 112, 201));
    box-shadow: 0 10px 18px rgba(0, 0, 0, .5);
    color: #fff;
    text-transform: uppercase;
}

@media screen and (max-width: 768px) {
    #button {
        max-width: 90%;
    }
}

#button:hover {
    transform: scale(1.1, 1.1);
    cursor: pointer;
}

#button:hover:before {
    border-color: #0766d8;
    background: #fff linear-gradient(#3fadff, #0766d8 60%, #3279dd);
}

#button:focus,
#button:active {
    transform: scale(2, 2);
    opacity: 0;
    visibility: hidden;
    transition: .4s;
}

#Main_page_2 {
    position: fixed;
    background: url('images/i3d.jpg');
    left: 0px;
    top: 0px;
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center center;
}

.block_head {
    position: absolute;
    display: block;
    height: 500px;
    width: 100%;
    background-color: white;
    opacity: 0;
}

.side_menu {
    position: relative;
    display: inline-block;
    left: 370px;
    top: 50px;
    word-spacing: 25px;
}

.sider_menu_ul li {
    position: relative;
    display: inline-block;
    color: white;
}

.sider_menu_ul li:hover {
    position: relative;
    display: inline-block;
    color: lime;
    text-decoration: underline;
}

.icon {
    position: absolute;
    display: inline-block;
    left: 20px;
    height: 50px;
    width: 50px;
    background-color: black;
    border: 2px outset white;
    color: white;
    border-radius: 50px;
    text-align: center;
    line-height: 50px;
    font-size: 30px;
    top: 20px;
    font-family: fantasy;
}
